<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Подключение к H2 in-memory базе -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:mem:tennis_scoreboard;DB_CLOSE_DELAY=-1</property>

        <!-- Данные об имени пользователя и пароле не должны попадать в github -->
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>

        <!-- Диалект SQL для H2 -->
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Для автоматического запуска скриптов из файла import.sql и соответствия ТЗ стоит изменить значение на create-drop -->
        <!-- Автоматическое создание/обновление таблиц -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Показывать SQL в консоли -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- Для подсветки SQL синтаксиса можно добавить: -->
<!--        <property name="hibernate.highlight_sql">true</property>-->

        <!-- Entity-классы -->
        <mapping class="entity.Player"/>
        <mapping class="entity.Match"/>

    </session-factory>
</hibernate-configuration>